[project]
	description = A GUI console for the Mercury project of Pompeu Fabra University.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Bikfalvi (alexbikfalvi)
[access "refs/for/refs/*"]
	read = group user/Alex Bikfalvi (alexbikfalvi)
	push = group user/Alex Bikfalvi (alexbikfalvi)
	label-Code-Review = -2..+2 group user/Alex Bikfalvi (alexbikfalvi)
	label-Verified = -1..+1 group user/Alex Bikfalvi (alexbikfalvi)
	rebase = group user/Alex Bikfalvi (alexbikfalvi)
	removeReviewer = group user/Alex Bikfalvi (alexbikfalvi)
	submit = group user/Alex Bikfalvi (alexbikfalvi)
[access "refs/heads/*"]
	read = group user/Alex Bikfalvi (alexbikfalvi)
	create = group user/Alex Bikfalvi (alexbikfalvi)
	push = +force group user/Alex Bikfalvi (alexbikfalvi)
	pushMerge = group user/Alex Bikfalvi (alexbikfalvi)
[access "refs/tags/*"]
	push = +force group user/Alex Bikfalvi (alexbikfalvi)
	pushTag = group user/Alex Bikfalvi (alexbikfalvi)
	pushSignedTag = group user/Alex Bikfalvi (alexbikfalvi)
